<div class="section-footer">
    <div class="container">
        <div class="row">
          <!--  <div class="col-md-3">
                <h3>Quick Links</h3>
                <ul class="list-unstyled clear-margins" id="first-footer-menu">
                    <li><a>COSA INFLUENZA LA VELOCITÀ?</a></li>
                    <li><a>COME CONFRONTIAMO I DATI DEI TEST DI VELOCITÀ ADSL</a></li>
                    <li><a>MAPPA DEGLI SPEED TEST ADSL</a></li>
                </ul>
            </div> -->
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <h3>Quick Links</h3>
                <ul class="list-unstyled clear-margins" id="second-footer-menu">
                    <li><a>Test ADSL Tim</a></li>
                    <li><a>Test ADSL Infostrada</a></li>
                    <li><a>Test ADSL Fastweb</a></li>
                    <li><a>Test ADSL Vodafone</a></li>
                    <li><a>Test ADSL Teletu</a></li>
                    <li><a>Test ADSL Tiscali</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 column-social-button  col-xs-12 col-sm-6">
                <a class="nav-link button-small fb-share" target="_blank" href="#"><i class="fa fa-facebook"></i> <span class="inner-text">Share on Facebook</span></a>
                <a class="nav-link button-small tw-tweet" target="_blank"
                   href="https://twitter.com/intent/tweet?text=#"><i class="fa fa-twitter"></i> <span class="inner-text">Tweet on Twitter</span></a>
                <a class="nav-link button-small gplus" target="_blank" href="https://plus.google.com/share?url=#"><i class="fa fa-google-plus"></i> <span class="inner-text">Share
                    on Google+</span></a>
            </div>
        </div>
    </div>
</div>
</div>
<div id="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="copyright">
                Copyright © adsl-test.it 2016.
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="design">
                Tutti i nomi, prodotti, marchi, loghi, sono esclusiva dei rispettivi proprietari.
            </div>
        </div>
    </div>
</div>