$small_mobile: "(max-width: 479px)";
$mobile: "(min-width: 480px) and (max-width:587px)";
$small_tablet: "(min-width: 588px) and (max-width:767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$small_desktop: "(min-width: 1024px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";
$white: #ffffff;
$grey: #cccccc;
$lightgrey: #efefef;
$transparent: rgba(0, 0, 0, 0.15);
$more_transparent: rgba(0, 0, 0, 0.175);
$darkgrey: #333333;
$blue: #337ab7;
$orange: #ff950d;
$green: #5cb85c;
$red: #EF4836;
$bright_green: #58ce21;