.navbar.navbar-default {
  height: 80px;
  padding-top: 18px;
  background-color: $white;
  transition: all 0.4s ease;
  margin-bottom: 0;

  #navbar a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    text-decoration: none;
    vertical-align: top;
    padding: 12px 24px;

    &.active{
      background-color: #58ce21;
      border-radius: 4px;
      color: white;
      font-weight: 400;
      padding: 12px 24px;
      transition: all 500ms ease 0s;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      text-align: left;
      text-decoration: none;
      vertical-align: top;
    }
  }

  .navbar-brand h1 {
    font-size: 18px;
    margin:0;
    padding:0;
  }


  &.sticky {
    font-size: 24px;
    height: 48px;
    background: #f4f4f4 ;
    text-align: left;
    position: fixed;
    width: 100%;
    padding-top: 0;

  }

}


@media #{$mobile}, #{$small_mobile}{
  .navbar.navbar-default {

    #navbar {
      margin-top:10px;
    }

    #navbar li {
      border-radius: 0;
    }

    #navbar ul {
      margin:0 -15px;
    }

    #navbar  a {
      width: 100%;
      background-color: $white;
      border-bottom: 1px solid $grey;

      &:not(.active):hover {
        color: $darkgrey;
        background-color: $lightgrey;
      }
      &.active {
        border-radius: 0;
      }


    }
  }
}