.btn-big {
  background-color: $bright-green;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  padding: 20px 40px;
  transition: all 500ms ease 0s;
  vertical-align: baseline;
}

.btn-orange {
  background-color: $orange !important;
  padding: 15px;
  width: 100%;
  border: 0;
  margin-top: 5px;
  margin-left: 0;
}

.section-padding {
  padding-bottom: 40px;
  padding-top: 40px;

  &.speed-test-sample {
    padding-top: 0;
    padding-bottom:20px;
  }
}

.section-basic {
  padding-top: 25px;
}

.section-alternative {
  background-color: #f5f7fa;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &.section-header {
    padding-top: 0;
    padding-bottom: 20px;
    border-top: 0;
  }
}

.speed-test-sample {
}

#comune_provider,
#start_speed_test {
  width: 48%;
}

#comune_provider.big-input {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0;
  padding: 20px;
}

.hidden-step {
  display: none;
}

.small-title {
  color: $orange;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}

#verifica-copertura {
  input,
  select {
    margin-bottom: 8px;

    &.form-control[disabled] {
      background-color: #eeeeee !important;
    }

    &.form-control.tt-hint {
      background-color: transparent !important;
    }
  }
}

#sample-test-img {
  display: inline;
}

#data-wrapper,
#data-wrapper-coverage{
  .label {
    display: inline-block;
    font-weight: bold;
    color: #151515;
  }

  #ping,
  #ping-coverage{
    background-color: transparent;
    border: medium none;
    clear: both;
    display: inline-block;
    height: auto;
    padding: 0;
    text-align: center;
    width: 100%;

    .results {
      position: relative;
      top: 0;
    }

    .label {
      background: rgba(0, 0, 0, 0) url("../img/ping-icon.png") no-repeat scroll 0 center;
      font-size: 1.6rem;
      margin: 0 5px 0 0;
      padding: 0 0 0 22px;
    }

    .data {
      color: #151515;
      display: inline-block;
      font-size: 1.8rem;
    }
    .metrics {
      margin: 0 0 0 5px;
    }

    span.label {
      display: none;
    }
  }

  #status,
  #status-coverage{
    float: left;
    width: 55%;
  }

  #speedo-provider img,
  #speedo-provider-coverage img{
    height: 25px;
  }

  .element {
    border: 1px solid #d7d7d7;
    display: block;
    font-size: 1.6rem;
    margin: 0 0 2%;
    padding: 15px 10px;
    width: 100%;
    border-radius: 4px;
  }

  .element span {
    display: table-cell;
    width: auto;
  }

  .element .label {
    border-right: 1px solid #d3d3d3;
    color: #878787;
    font-size: 1.4rem;
    padding: 0 10px 0 0;
  }

  .element .data {
    font-size: 1.4rem;
    padding: 0 0 0 10px;
    font-weight: bold;
  }

  #ip,
  #ip-coverage{
    float: right;
    width: 43%;
    .data {
      background: rgba(0, 0, 0, 0) no-repeat scroll 5px center;
      padding: 0 0 0 20px;
      white-space: nowrap;
    }

  }

  #results-area,
  #results-area-coverage{
    margin: 0 0 4%;
  }
  #provider,
  #provider-coverage{
    clear: both;
  }

  .bandwidth-circle .results {
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: 32%;
    width: 100%;
    z-index: 10;
  }

  .bandwidth-circle .results .data {
    font-size: 3.8em;
  }
  .bandwidth-circle .results .data {
    color: #151515;
    font-size: 3.2em;
    font-weight: bolder;
    line-height: 1.4;
  }

  .bandwidth-circle svg {
    display: block;
    height: 100%;
    width: 100%;
  }
  #download,
  #download-coverage{
    float: left;
    width: 45%;
    &::before {
      background-image: url("../img/down-icon.png");
    }
  }
  .bandwidth-circle {
    position: relative;

    &::before {
      background: rgba(0, 0, 0, 0) none no-repeat scroll center 0 / 60% auto;
      content: "";
      display: block;
      height: 5em;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 1em;
      width: 5em;
      z-index: 10;
    }
  }

  #upload,
  #upload-coverage{
    float: right;
    width: 45%;
    &::before {
      background-image: url("../img/up-icon.png");
    }
  }

}

.star-rating {
  .rating-container {
    color: $red;
    .rating-stars {
      color: $green;
    }
  }
  .caption {
    display: none;
  }
}

@media #{$desktop} {
   #verifica-copertura .form-control {
     height: 40px;
   }
}

@media #{$mobile}, #{$small_mobile} {


  .section-alternative {
    background-color: #f5f7fa;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    &.section-header {
      padding-top: 0;
      padding-bottom: 10px;
      border-top: 0;
    }
  }

  #verifica-copertura {
    input,
    select {
      margin-bottom: 8px;

      &.form-control[disabled] {
        background-color: #eeeeee !important;
      }

      &.form-control.tt-hint {
        background-color: transparent !important;
      }
    }

    .btn-big {
      width: 100%;
      margin-left: 0;
      padding: 15px;
    }

    #test-speed-coverage {
      margin-bottom:8px;
    }
  }
  .section-padding {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #comune_provider.big-input {
    padding: 15px;
    width: 45%;
  }

  .btn.btn-big {
    padding: 15px;
    width: 50%;

    &#go-copertura {
      margin-top: 15px;
      width: 100%;
      margin-left: 0;
    }
  }
  #data-wrapper,
  #data-wrapper-coverage{
    #download, #upload, #ping,
    #download-coverage, #upload-coverage, #ping-coverage{
      position: relative;
      width: 32%;
      height: 115px;
      margin: 0 2% 0 0;
      padding: 60px 1.5% 1.5%;
      background-color: #fff;
      border: 1px solid #d7d7d7;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
    }
    #download:before, #upload:before, #ping:before,
    #download-coverage:before, #upload-coverage:before, #ping-coverage:before{
      content: '';
      display: block;
      position: absolute;
      width: 21px;
      height: 25px;
      top: 12%;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 10;
      background: rgba(0, 0, 0, 0) url("../img/mobile-data-icons-sprite.png") no-repeat scroll 0 0
    }
    #download svg, #upload svg, #ping svg,
    #download-coverage svg, #upload-coverage svg, #ping-coverage svg{
      display: none
    }
    #download .results, #upload .results, #ping .results,
    #download-coverage .results, #upload-coverage .results, #ping-coverage .results{
      position: relative;
      top: 0;
      text-align: center
    }
    #download .label, #upload .label, #ping .label,
    #download-coverage .label, #upload-coverage .label, #ping-coverage .label{
      margin: 0;
      padding: 0;
      font-size: 10px;
      font-weight: normal;
      background: none;
    }
    #download .data, #upload .data, #ping .data,
    #download-coverage .data, #upload-coverage .data, #ping-coverage.data{
      font-size: 22px;
      font-weight: bolder;
      line-height: 1
    }
    #download:before,
    #download-coverage:before{
      background-position: 0 0
    }
    #download .data,
    #download-coverage .data{
      color: $green;
    }
    #upload:before,
    #upload-coverage:before {
      background-position: 0 -26px
    }
    #upload .data,
    #upload-coverage .data{
      color: $red;
    }
    #ping,
    #ping-coverage{
      margin: 0 2% 0 0;
    }
    #upload,
    #upload-coverage{
      margin: 0;
    }
    #ping:before,
    #ping-coverage:before{
      background-position: 0 -52px
    }
    #ping b.label,
    #ping-coverage b.label{
      display: none
    }
    #ping span.label,
    #ping-coverage span.label{
      display: inline-block
    }
    #ping .data,
    #ping-coverage .data{
      display: block;
      color: #e13e01
    }
    #ping .metrics,
    #ping-coverage .metrics{
      margin: 0 5px 0 0;
      font-size: 10px;
      font-size: 1rem;
      font-weight: normal
    }

    #ip .data,
    #ip-coverage .data{
      padding: 0 0 0 10px;
    }
  }
}