@import "bootstrap-sass-official/assets/stylesheets/_bootstrap";
@import "components-font-awesome/css/font-awesome";
@import "bootstrap-star-rating/css/star-rating";
@import "variables";
@import "typeahead-add";
@import "widgets";
@import "header";
@import "home";
@import "footer";
@import "modal";
@import "offers";


.line-compacted {
  line-height: 36px !important;
  margin: 10px 0 !important;
}

.line-compressed {
  line-height: 18.5px !important;
}

.light-bold {
  font-weight: 600;
}

.txt-light {
  font-weight: 200;
}

.x-big {
  font-size: 38.5px !important;
}

.green {
  color: #58ce21;
}

.mid {
  font-size: 21px !important;
}

.midsmall {
  font-size: 18px;
}

.small {
  font-size: 16px !important;
}

.smaller {
  font-size: 14px;
}

.bigger-label {
  font-size: 48px;
}

.nopadding {
  padding: 0 !important;
}

.x-mid {
  font-size: 24.5px;
}

.orange {
  color: $orange !important;
}

.bold {
  font-weight: bold;
}

.red {
  color: $red !important;
}

.main-title {
  font-size: 24px;
}

.form-control:focus {
  border-color:#ff950d;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255, 149, 13, 0.6);
}

@media #{$mobile}, #{$small_mobile}, #{$small_tablet}, #{$tablet}, #{$small_desktop}{
  .mobile-title {
    font-size: 21px;
  }

  .mobile-subtitle {
    font-size: 16px;
  }

}

@media #{$small_tablet}, #{$tablet}, #{$small_desktop} {
  .mobile-text-center {
    text-align: center !important;
    margin-bottom: 10px;
  }
}

@media #{$small_mobile} {
  .mobile-title {
    font-size:18px;
  }
  }
