<div class="graph-container col-md-12 col-lg-12 col-sm-12 col-xs-12" style="display:none;">
    <h3 class="bold">Media oraria delle misurazioni giornaliere</h3>
    <div id="graph-trends"style="height: 200px;"></div>
</div>