<ul>
{% for row in results %}
    <li><span class="orange bold">{{ row.downloadSpeed|bandwidth_filter }} Mbsp</span> di <span class="bold">{{ row.provider|upper }}</span> a {{ row.ipAddress }}</li>
{% else %}
    <li><em>Nessun risultato registrato</em></li>
{% endfor %}
</ul>